<section class="resume-section" id="projects">
    <div class="resume-section-content">
        <!-- MQTT Demo-->
        <h2 class="mb-5">Projects</h2>
        <div>

            <pre class="line-numbers">
                <code id="mqtt-output"></code>
            </pre>
        </div>
        <!-- BSA -->
        <h3 class="mb-4">Binaural Sensory Augmentation</h3>
        <p class="lead mb-5">
            This project was a sole project for the requirements of my masters degree in electronic and computer
            engineering. The fundamental goal / principal of the project was to build a device that could be
            used as a navigational aid by using non-linguistic spatial auditory cues.
            <br>
            The pictures below show a few key components of the prototype:
        <ol>
            <li>The main compute module (Raspberry Pi in a green case)</li>
            <li>The Lithium Ion battery (black block)</li>
            <li>The GPS/GNSS/GLONASS module used for location retrieval (inside the red case)</li>
            <li>The Magnetometer used for direction retrieval (inside the red case too)</li>
            <li>The headphones used to output spatial audio to the user</li>
        </ol>
        The compute module would retrieve input from the GPS module and direction information from the
        magnetometer module and use it to render spatial audio using the OpenAL library. This library is
        usually used for games/virtual environments, but in this case, it's used in real life.
        Then the spatial audio is output to the headphones.

        <b>
            <a href="/assets/docs/Paper_BinauralSensoryAugmentation.pdf" target="_blank"
                rel="noopener noreferrer">
                To view the paper for this project and/or to get more detail, click here.
            </a>
        </b>
        </p>
        <div class="row">
            <div class="col">
                <img src="assets/img/masters_project_headphones_with_sensors.jpg"
                    class="img-fluid w-100 shadow-1-strong rounded mb-4"
                    alt="masters_project_headphones_with_sensors" />
            </div>
            <div class="col">
                <img src="assets/img/masters_project_whole_setup.jpg"
                    class="img-fluid w-100 shadow-1-strong rounded mb-4" alt="masters_project_whole_setup" />
            </div>
        </div>
        <!-- Robot Soccer -->
        <h3 class="mb-4">Robot Soccer</h3>
        <div class="row">
            <div class="col">
                <img src="assets/img/nao_lab_airtime.jpg" class="w-100 shadow-1-strong rounded mb-4"
                    alt="Robot kicking a football with some airtime" />
            </div>
            <div class="col">
                <img src="assets/img/nao_squad_lineup.jpg" class="w-100 shadow-1-strong rounded mb-4"
                    alt="Robot soccer squad lining up" />
            </div>
            <div class="col">
                <img src="assets/img/naos_sitting.jpg" class="w-100 shadow-1-strong rounded mb-4"
                    alt="Two robots sitting beside each other" />
            </div>
        </div>
    </div>
</section>